
<%= render 'shared/errors', obj: @article %>
<%= form_for(@article, :html => {role: "form"}) do |f| %>

<script>
  new SimpleMDE({ element: document.getElementById("textField") }); 
</script>

<div class="field">
    <label class="label"><%= f.label :title %></label>
    <div class="control">
      <%= f.text_field :title, class: "input", placeholder: "Title of article", autofocus: true %>
    </div>
</div>
<div class="field">
    <label class="label"><%= f.label "Short description" %></label>
    <div class="control">
      <%= f.text_field :shortDescription,  class: "input", placeholder: "Short description of your article" %>
    </div>
</div>
<div class="field">
    <label class="label"><%= f.label :description %></label>
    <div class="control">
      <%= f.text_area :description, rows: 10, class: "textarea", id: "textField", placeholder: "Body of article" %>
    </div>
</div>
<div class="field">
    <div class="control">
      <%= f.submit class: 'button is-success' %>
    </div>
</div>
<% end %>
