<%= render 'shared/errors' %>
<%= form_for(@article, :html => {role: "form"}) do |f| %>
<div class="field">
    <%= f.label :title %>
    <div class="control">
      <%= f.text_field :title, class: "input", placeholder: "Title of article", autofocus: true %>
    </div>
</div>
<div class="field">
    <%= f.label :description %>
    <div class="control">
      <%= f.text_area :description, rows: 10, class: "textarea", placeholder: "Body of article" %>
    </div>
</div>
<div class="field">
    <div class="control">
      <%= f.submit class: 'button is-success' %>
    </div>
</div>
<% end %>
