<h2 class="title is-2">Title: <%= @article.title %></h2>
<div>
    <strong>Description:</strong>
    <hr>
    <div class='content'>
        <%= 
            markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)
            markdownHTML = markdown.render(@article.description)
            raw markdownHTML  
        %>
    </div>
    <hr>
    <%= link_to "Edit", edit_article_path(@article), class: "button is-primary" %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article #{@article.title}?"}, class: "button is-danger" %>
    <%= link_to 'Back to overview', articles_path, class: "button is-success" %>

</div>