<!DOCTYPE html>
<html>
  <head>
    <title>Blogbase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/navigation' %>
  </head>
  <body>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
